
<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당신의 마음을 시나브로</title>
    <link rel="stylesheet" href="{% static 'css/select_nuser.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <img src = "/static/jumping-woori.png"  /> 
        <h1 class="select_nuser_line">우리에게 당신을 알려주세요.</h1>
        <div>
            <button type="button" class="button" 
            onclick="location.href='/nickname/'">
            사용자 정보 등록
            </button>
        </div>
    {% if user %}
        <div>
            <button type="button" class="button" 
            onclick="location.href='/start/'">
            시작하기
            </button>
        </div>
    </div>
    {% else %}
    {% endif %}

</body>
</html>

