/* @import url("chatroom.css");
@import url("select_nuser.css");
@import url("start.css");
@import url("menu.css");
@import url("select.css");
@import url("survey.css"); */

/* @import "./chatroom.css";
@import "./select_nuser.css";
@import "./start.css";
@import "./menu.css";
@import "./select.css";
@import "./survey.css";
@import "./recommend.css"; */

/* @font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* screens */



/* components */
/* .button {
    font-family: 'GmarketSansMedium';
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    } */

    /* img {
        display: flex;
        justify-content: center;
        align-items: center;
    } */








